/* Empty. Add your own CSS if you like */
#map {
  min-height: 400px;
}

.no-padding {
  padding: 0px !important;
}

.align-center {
  text-align: center;
}

.center-text {
  text-align: center;
}

.top-margin {
  margin-top: 2em;
}

.hidden {
  display: none;
}
